body {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@100;300&family=Viaoda+Libre&display=swap");

.main {
  /* font-family: 'Big Shoulders Stencil Display', cursive; */
  /* font-family: "Viaoda Libre", cursive; */
  text-align: center;
  align-items: center;
  justify-content: center;
  background-image: url("./img/dich-covid-19_1830199.jpg");
  min-height: 100vh;
  background-repeat: none;
  background-size: cover;
}
.header_nav {
  height: 100px;
  margin-bottom: 5px;
}
.header_nav h2 {
  color: rgb(243, 236, 236);
  font-size: 30px;
}
.capnhat {
  align-items: center;
}

.capnhat {
  background: linear-gradient(90deg, #f6f6eeb8, #b1dbb7d1);
  border-radius: 20px;
  padding-top: 10px;
  font-size: 25px;
  line-height: 50px;
  padding-bottom:1px ;
  margin-bottom: 5px;
}
.mac-moi {
  background-color: rgba(245, 84, 10, 0.5);
  border: 2px solid rgb(212, 206, 206);
  border-radius: 50px;
  min-height: 100px;
  padding-top: 10px;
  margin: 2px;
}
.f1 {
  background-color: rgba(237, 241, 21, 0.2);
  border: 2px solid rgb(223, 213, 213);
  border-radius: 50px;
  min-height: 100px;
  padding-top: 10px;
}
.tuvong {
  background-color: rgba(250, 8, 8, 0.2);
  border: 2px solid rgb(248, 8, 8);
  border-radius: 50px;
  min-height: 100px;
  padding-top: 10px;
  margin-bottom: 10px;
}
.phantram {
  background-color: rgba(97, 116, 101, 0.2);
  border: 2px solid rgb(245, 238, 238);
  border-radius: 50px;
  min-height: 100px;
  padding-top: 5px;
  margin-bottom: 10px;
}
.word {
   background: linear-gradient(90deg, #f6f6eeb8, #b1dbb7d1); 
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 20px;
  font-size: 10px;
}

.w-test {
  padding-top: 25px;
  font-size: 20px;
  color: red;
}

ul.list_world {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul.list_world li {
  border: 1px dashed #000;
  width: 24%;
  padding: 10px;
  margin: 3px;
  background: beige;
  float: left;
  height: 280px;
}
#select_world {
  width: 200px;
  align-items: center;
  border-radius: 5px;
  border: none;
  background-color: rgba(172, 241, 187, 0.2);
  color: rgb(93, 90, 90);
}
.chart_total {
  font-size: 15px;
  text-align: center;
  background-color: rgba(172, 241, 187, 0.2);
  border-radius: 25px;
}
.table-striped {
  font-size: 15px;
}
.capnhat2 {
  background: linear-gradient(90deg, #f6f6eeb8, #b1dbb7d1);
  border-radius: 20px;
  padding-top: 10px;
  font-size: 25px;
  line-height: 50px;
}